---
import type { Image, InfoItem } from "../types";
import { buildUrl } from "../scripts/path-utils";

import BaseLayout from "../layouts/BaseLayout.astro";
import Header from "../components/shared/Header.astro";
import InfoColumn from "../components/shared/InfoColumn.astro";
import ContactsAbout from "../components/about/ContactsAbout.astro";

const photo: Image = {
    src: buildUrl("/images/photo.webp"),
    alt: "Self-portait photo",
};

const helloItem: InfoItem = {
    description: [
        [
            [
                { text: "Hello!" },
                {
                    text: "My name is Olya, I'm a Senior UX/UI designer and",
                },
                {
                    text: "I have been working in this field for 5 years",
                    accent: true,
                },
                {
                    text: ". I have worked with leading design studios, international startups, and product teams such as ",
                },
                { text: "Sila Sveta", accent: true },
                { text: ", " },
                { text: "Samolet", accent: true },
                { text: ", " },
                { text: "VTB Bank", accent: true },
                { text: ", pinkman, Fun&Sun, and Metacade." },
            ],
        ],
    ],
};

const texts = [
    "Design is more than my profession — it’s a big part of who I am. I love diving into details, understanding the full context, and shaping solutions that feel thoughtful, clear, and effective.",
    "I blend UX thinking and human-centered design to create experiences that are both functional and aesthetic. I’m inspired by nature, urban spaces, and technology.",
];
---

<BaseLayout title="Olga Bis — About me">
    <Header />
    <main class="container about-page">
        <div class="about-page__self">
            <div class="about-page__photo-wrapper">
                <img
                    class="about-page__photo"
                    src={photo.src}
                    alt={photo.alt}
                />
            </div>
        </div>
        <div class="about-page__text">
            <div class="about-page__hello">
                <InfoColumn
                    item={helloItem}
                    descriptionSize="var(--about-text-size)"
                />
            </div>
            <div class="about-page__about">
                {texts.map((text) => <p>{text}</p>)}
            </div>
            <div class="about-page__contacts">
                <ContactsAbout />
            </div>
        </div>
    </main>
</BaseLayout>
<style lang="scss">
    .about-page {
        display: flex;
        padding: var(--container-padding);
        justify-content: space-between;
        gap: 32px;
        height: calc(100dvh - var(--header-height));
        --about-text-size: 20px;

        @media (max-width: 1024px) {
            --about-text-size: 20px;
        }

        @media (max-width: 768px) {
            flex-direction: column;
            align-items: start;
            gap: 40px;
        }

        @media (max-width: 480px) {
            --about-text-size: 16px;
        }
    }

    .about-page__text {
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        gap: 60px;

        @media (max-width: 1023px) {
            flex-grow: 0;
            gap: 24px;
        }

        @media (max-width: 768px) {
            padding-bottom: 40px;
        }
    }

    .about-page__self {
        display: flex;
        flex-grow: 1;
        align-self: end;

        @media (max-width: 1024px) {
            flex-grow: 0;
            max-width: 310px;
        }

        @media (max-width: 768px) {
            align-self: start;
            max-width: 100%;
        }
    }

    .about-page__photo-wrapper {
        display: flex;
        flex: 0 0 auto;
        width: min(100%, 310px);
        aspect-ratio: 310 / 508;
        overflow: hidden;

        @media (max-width: 480px) {
            width: 100%;
            aspect-ratio: 350 / 398;
        }
    }

    .about-page__photo {
        display: block;
        max-width: none;
        object-fit: cover;
        object-position: center top;

        @media (max-width: 480px) {
            height: 140%;
            width: 100%;
        }
    }

    .about-page__hello,
    .about-page__about {
        max-width: 440px;

        @media (max-width: 480px) {
            width: 100%;
        }
    }

    .about-page__about {
        display: flex;
        flex-direction: column;
        font-size: var(--about-text-size);
        gap: 20px;
        max-width: 440px;
        line-height: 1.3;
        align-self: flex-end;

        @media (max-width: 1024px) {
            align-self: start;
        }
    }

    .about-page__contacts {
        display: flex;
        flex-grow: 1;
        align-self: stretch;

        @media (max-width: 768px) {
            padding-top: 32px;
        }
    }
</style>
