---
import BaseLayout from "../layouts/BaseLayout.astro";
import Header from "../components/main/Header.astro";
import Hero from "../components/main/Hero.astro";
import Projects from "../components/main/Projects.astro";
import ProjectSection from "../components/shared/ProjectSection.astro";
import Confidential from "../components/main/Confidential.astro";
import ShowReel from "../components/main/ShowReel.astro";
import Contacts from "../components/main/Contacts.astro";
import Footer from "../components/main/Footer.astro";
---
<BaseLayout title="Olga Bis — Portfolio">
  <Header />
  <main>
    <section class="container">
      <Hero />
    </section>
    <ProjectSection title="Projects" mobileFluid>
      <Projects />
    </ProjectSection>
    <ProjectSection title="Confidential" delimiter mobileFluid>
      <Confidential />
    </ProjectSection>
    <ProjectSection title="What else I can do" mobileFluid>
      <ShowReel />
    </ProjectSection>
    <section class="container">
      <Contacts />
    </section>
  </main>
  <Footer />
</BaseLayout>
<style lang="scss">
main {
  display: flex;
  flex-direction: column;
  gap: 90px;
}
</style>
