---
import BaseLayout from "../layouts/BaseLayout.astro";
import Header from "../components/Header.astro";
import Hero from "../components/Hero.astro";
import Projects from "../components/Projects.astro";
import Confidential from "../components/Confidential.astro";
import AlsoDone from "../components/AlsoDone.astro";
import Contacts from "../components/Contacts.astro";
import Footer from "../components/Footer.astro";
---
<BaseLayout title="Olga Bis — Portfolio">
  <Header />
  <main>
    <Hero />
  </main>
  <Footer />
</BaseLayout>
