---
import BaseLayout from "../layouts/BaseLayout.astro";
import Header from "../components/main/Header.astro";
import HeroComponent from "../components/saas/HeroComponent.astro";
import SaasHeadingInfo from "../components/saas/SaasHeadingInfo.astro";
import SaasProblemOpportunity from "../components/saas/SaasProblemOpportunity.astro";
import ABTest from "../components/saas/ABTest.astro";
---
<BaseLayout>
  <Header />
  <main>
    <SaasHeadingInfo />
    <HeroComponent />
    <SaasProblemOpportunity />
    <ABTest />
  </main>
</BaseLayout>
