---
import type { NavItem } from "../../types";

import BaseLayout from "../../layouts/BaseLayout.astro";
import Header from "../../components/shared/Header.astro";
import ProjectSection from "../../components/shared/ProjectSection.astro";
import BottomNav from "../../components/shared/BottomNav.astro";

import SaasCarousel from "../../components/saas/SaasCarousel.astro";
import SaasHeadingInfo from "../../components/saas/SaasHeadingInfo.astro";
import SaasProblemSection from "../../components/saas/SaasProblemSection.astro";
import SaasTest from "../../components/saas/SaasTest.astro";
import SaasHeatMaps from "../../components/saas/SaasHeatMaps.astro";
import SaasProductPage from "../../components/saas/SaasProductPage.astro";
import SaasIllustrations from "../../components/saas/SaasIllustrations.astro";
import { buildUrl } from "../../scripts/path-utils";

const titles = {
  heading: "The Conversion Optimization and Personalization Platform",
}

const navHeading = "See more";

const navItems: [NavItem, NavItem] = [
  {
    title: "Software for vet clinics",
    direction: "previous",
    href: buildUrl("/projects/vet"),
    image: {
      src: buildUrl("/images/saas/nav/prev.webp"),
      alt: "Software for vet clinics nav image",
    }
  },
  {
    title: "Confidential projects",
    direction: "next",
    href: buildUrl("/#confidential"),
    image: {
      src: buildUrl("/images/saas/nav/next.webp"),
      alt: "Confidential projects nav image"
    }
  }
]
---
<BaseLayout title="Olga Bis - SaaS Case">
  <Header />
  <main class="main">
    <ProjectSection title={titles.heading} delimiter>
      <SaasHeadingInfo />
    </ProjectSection>
    <section class="container--fluid">
      <SaasCarousel />
    </section>
    <section class="container">
      <SaasProblemSection />
    </section>
    <section class="container">
      <SaasTest />
    </section>
    <section class="container">
      <SaasHeatMaps />
    </section>
    <section class="container">
      <SaasProductPage />
    </section>
    <section class="container">
      <SaasIllustrations />
    </section>
  </main>
  <footer class="container">
    <BottomNav navItems={navItems} heading={navHeading} />
  </footer>
</BaseLayout>
<style lang="scss">
@use "../../styles/mixins" as *;

.main {
  padding: 90px 0;

  @include main-page-gap;
}
</style>