---
import "../styles/reset.scss";
import "../styles/main.scss";
import "../styles/animations.scss";
const { title = "Olga Bis" } = Astro.props;
---
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <!-- Neue Montreal -->
    <link
      href="https://fonts.cdnfonts.com/css/pp-neue-montreal"
      rel="stylesheet"
    />

    <title>{title}</title>
  </head>
  <body>
    <div class="layout">
      <slot />
    </div>
  </body>
</html>

<style lang="scss">
.layout {
  display: flex;
  flex-direction: column;
  gap: 90px;
}
</style>